<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="park">
            <h2><span>Park</span> {{park.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{park.name}}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <span>{{park.location}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <div *ngIf="park.countryId">
                        <a [routerLink]="['/country', park.countryId, 'view']">{{park.countryName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/park', park.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
