<div>
    <h2 id="page-heading">
        <span>Drivers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-driver" [routerLink]="['/driver/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Driver
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="drivers?.length === 0">
        <span>No drivers found</span>
    </div>
    <div class="table-responsive" *ngIf="drivers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phoneNbr"><span>Phone Nbr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailAddr"><span>Email Addr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gender"><span>Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span>Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validatedBy"><span>Validated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateValidated"><span>Date Validated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userLogin"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tourOperatorName"><span>Tour Operator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let driver of drivers ;trackBy: trackId">
                <td><a [routerLink]="['/driver', driver.id, 'view' ]">{{driver.id}}</a></td>
                <td>{{driver.name}}</td>
                <td>{{driver.phoneNbr}}</td>
                <td>{{driver.emailAddr}}</td>
                <td>{{driver.gender}}</td>
                <td>{{driver.status}}</td>
                <td>{{driver.createdBy}}</td>
                <td>{{driver.dateCreated | date:'medium'}}</td>
                <td>{{driver.validatedBy}}</td>
                <td>{{driver.dateValidated | date:'medium'}}</td>
                <td>
                    {{driver.userLogin}}
                </td>
                <td>
                    <div *ngIf="driver.tourOperatorId">
                        <a [routerLink]="['../tour-operator', driver.tourOperatorId , 'view' ]" >{{driver.tourOperatorName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/driver', driver.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/driver', driver.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'driver', { outlets: { popup: driver.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="drivers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
